/* @import url("css/reset.css"); */
.header ::first-letter {
	color: rgb(206, 102, 5);
}
[exemple-title]{
	color: purple;
}

header .header-text { 
	color: aqua;
}
.menu-list li > a :first-of-type {
	color: rgb(212, 238, 13);
}
.menu-list [href="#culture"] {
	color: rgb(6, 235, 86);
}
.menu-list li:nth-child(2) a {
	color: rgb(227, 89, 25) !important; 
}
.menu-list li:nth-child(even) a {
	color: orange;
}

.culture-list li:has(p) {
	color: purple;
}


a.top{
	color: green;
}
.footer__copy{
	color: red;
}
.cities-info+p{
	color: blue !important;
}
.cities-info :nth-child(odd){
	color: rgb(4, 225, 29);
}
.cities-info :nth-child(even){
	color: rgb(189, 174, 8);
}
.cities-info :nth-child(3){
	color: rgb(72, 44, 11);
}
h4{
	color: rgb(15, 69, 16)  !important;
}
h4 ~ p {
	color: blueviolet !important;
}
.city-list li > p {
	color: red ;
}
[class*="mod"] {
	color: rgb(206, 102, 12);
}